.vscode/**
.github/**
azure-pipelines.yml
coverage/**
docs/**
node_modules/**
scripts/**
src/**
test/**
*.toml
vitest.config.mts
*.md
.editorconfig
.gitattributes
.gitignore
.prettierignore
eslint.config.mjs
package-lock.json
tsconfig.json